.carousel-caption h1{
    color: white;
    font-size: 4.0em;
    font-weight: 600;
    letter-spacing: 3px;
    
}

.carousel-caption h2{
    color: #000;
    font-family: tahoma;
    font-size: 1em;    
    font-weight: 600;
    
}

.carousel-caption h3{
    color: black;
    font-size: 1em;
    text-align: left; 
    
}

.TextoPrincipalBanner{
    top: 0;
    left:0; 
    margin-top: 50px;
    
}
